
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.fullbox{
    width: 1366px;
    margin: 0 auto;
}
body{
    font-family: 'Inconsolata';

}

/* Style of Navbar */
.topbar{
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    width: 100%;
    height: 75px;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    z-index: 1;
    visibility: hidden;
    transition: top 0.3s;
    
}

/* Style of  */
.right{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

/* Navbar Name */
.name{
    font-size: 35px;
    color: white;
    font-weight: 600;
}

/* Content of image, title & button section */
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background-color: #E5E5E5;
    height: 632px;
    width: 100%;


}

/* Heading of title */
h2{
    font-family: 'dosis', sans-serif;
    font-size: 35px;
    font-weight: 500;
    
}
img{
   width: 380px;
   margin-top: 40px;
}

/* Title of Myself */
.tittle{
    margin-top: 10px;
    color: rgb(105, 93, 93);
    font-size: 18px;
}

/* Button of Download CV */
button{
    padding: 15px 30px;
    margin-top: 15px;
    border-radius: 30px;
    background-color: rgb(5, 151, 71);
    color: white;
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: black;
    color: white;
    
}

/* Anchor Tag */
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}


/* My Background */
.down-content{
    margin-left: 40px;
    margin-right: 40px;
}
.middle-content{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.middle-text{
    width: 500px;
    padding: 0 40px;
    font-family: 'dosis';
    font-weight: 500;
}

/* Heading of what I do */
h1{
    font-size: 30px;
    padding-right: 20px;
    font-family: 'dosis';
    margin-top: 40px;
}

/* My expertise part */

.expertise{
    padding-right: 30px;
}
.expertise-details{
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'dosis';
    font-weight: 500;
}
.h4{
    font-family: 'dosis';
}

/* My contact part */
.contact{
  
    font-family: 'dosis';
}
.address{
    margin-bottom: 8px;
    font-family: 'dosis';
}
.call{
    margin-bottom: 8px;
    font-family: 'dosis';
}
.email{
    margin-bottom: 8px;
    font-family: 'dosis';
}

/* Heading of footer */
h4{
    font-size: 20px;
    font-family: 'abel';
    font-weight: 600;
}
   
/* Footer box */
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Social icon of footer */
.social-icon{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 20px;
    
}
/* Copyright Footer */
.left-footer{
    font-family: 'dosis';
}